.tutorActiveDiv {
  background-color: #1d7dbc;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.qBtn {
  background-color: #cb7d1d !important;
  color: #fff !important;
  font-weight: bold !important;
}

.rBtn {
  margin-right: 10%;
}

.lBtn {
  margin-left: 10%;
}
