.getNextApp {
  background-color: #db7c1d !important;
  color: #fff !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 4rem;
}

.appointmentHead {
  margin-left: 4rem;
}

.trueQRow {
  text-align: center;
  margin-top: 1rem;
  background-color: #2087bc;
  color: #fff;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.falseQRow {
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  background-color: #17406b;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tHome {
  padding-top: 2em;
}
